{% extends "root/base.html" %}

{% block content %}



<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="slider_text text-center">
                        
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">FAAN PROTOCOL SERVICE</h3>
                        
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}