{% extends "admin/base.html" %}

{% block content %}

<div class="container-fluid px-4">

    <h1 class="mt-4">Special Need Details</h1>

    <div class="card mb-4">

        <!-- CARD HEADER -->
        <div class="card-header">

            <i class="fas fa-wheelchair me-1"></i>

            {{ need.need_name }}

        </div>


        <!-- CARD BODY -->
        <div class="card-body">

            <table class="table table-bordered">

                <tr>

                    <th width="30%">
                        Special Need
                    </th>

                    <td>
                        {{ need.need_name }}
                    </td>

                </tr>


                <tr>

                    <th>
                        Description
                    </th>

                    <td>
                        {{ need.description or 'N/A' }}
                    </td>

                </tr>

            </table>


            <!-- EDIT BUTTON -->
            <a href="{{ url_for(
                'edit_special_need',
                id=need.id
            ) }}"
            class="btn btn-warning">

                <i class="fas fa-edit"></i>
                Edit Special Need

            </a>


            <!-- BACK BUTTON -->
            <a href="{{ url_for('special_needs') }}"
               class="btn btn-secondary">

                <i class="fas fa-arrow-left"></i>
                Back

            </a>

        </div>

    </div>

</div>

{% endblock %}